
<div class="modal fade" id="delete-confirm-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body mt-2">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirm-delete-btn" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>